* {
  font-family: "Raleway", sans-serif;
  padding: 0rem;
  margin: 0rem;
}
body {
  background-color: rgb(122, 97, 116);
  font-size: 1rem;
}
h2 {
  color: brown;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 2rem;
}
h3 {
  color: brown;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 2rem;
  text-transform: uppercase;
}
iframe {
  margin-left: 1rem;
}
p {
  color: blue;
  font-size: 1rem;
}
ul {
  background-color: rgb(140, 114, 132);
}
ul li {
  margin-left: 1.5rem;
  list-style: circle;
  list-style-position: outside;
}

header {
  background-color: rgb(177, 183, 209);
}
footer {
  text-align: left;
}
footer aside,
footer small,
footer section {
  text-align: right;
  margin-right: 2rem;
  background-color: rgb(155, 159, 181);
}
small p {
  margin-right: 2rem;
}
section {
  background-color: rgb(209, 177, 200);
}

img,
video {
  margin: 1rem;
  margin-bottom: 1rem;
}
form {
  margin: 1rem;
}
tbody {
  font-size: larger;
}
th {
  font-size: large;
}
table {
  margin-left: 1rem;
  margin-right: 1rem;
}
.margenCero {
  background-color: rgb(155, 159, 181);
}
.redondear {
  border-radius: 100%;
}
#encuesta {
  color: brown;
}

nav ul {
  margin: 0 auto;
  text-align:center;
  ;
  
}
nav ul li {
  display: inline-block;
  background-color: grey;
  padding: 0.3rem 1rem;
  border-radius: 30px;
  
  
}
nav a {
  text-decoration: none;
  color: darkorange;
}

#logo {
  float: left;
}
#logo img {
  padding: 0px 0px;
  width: 125px;
}
section {
  text-align: center;
}


.left {
  float: left;
  text-align: left;
}
.right {
  float: right;
  text-align: left;
}
div {
  width: 150px;
  height: 150px;
  background-color: green;
  display: inline;
}

#subMenu {
  position: absolute;
  display: none;
}
#subMenu li {
  display: block;
}
nav ul li:hover {
  background-color: darkred;
  font-size: 150%;
}

#his:hover > #subMenu {
  display: block;
}

.actualMenu
{
  font-size: 150%;
}

.flex
{
  background-color: bisque;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: .5rem;
}
.innerFlex
{
  background-color: blueviolet;
}