* {
  font-family: "Raleway", sans-serif;
  padding: 0rem;
  margin: 0rem; }

caption {
  background-color: #73618C; }

.video {
  display: flex;
  justify-content: center; }

body {
  background-color: #bcd4de;
  font-size: 1rem; }

h2 {
  color: #277adf;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem 0; }

h3 {
  color: #277adf;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase; }

p {
  color: #277adf;
  font-size: 1rem; }

small {
  font-size: 0.5rem; }

body {
  background-color: #bcd4de;
  font-size: 1rem; }

ul {
  list-style: none; }
  ul li {
    list-style-position: outside; }

section {
  background-color: #bcd4de; }

tbody, th {
  font-size: larger; }

table {
  background-color: #73618C;
  margin: 0 auto; }

header {
  text-align: center; }

.navheader {
  background: linear-gradient(to top, #bcd4de, #7390a7); }

.navfooter {
  background: linear-gradient(to bottom, #bcd4de, #7390a7); }

#logo {
  display: flex;
  justify-content: center; }

#encuesta {
  color: #277adf; }

nav ul li {
  background-color: grey;
  border-radius: 30px;
  padding: 0.2rem .5rem;
  align-self: center;
  transition: background-color 0.1s, font-size 0.1s; }
  nav ul li:hover {
    background-color: darkred;
    font-size: 150%; }

nav a {
  text-decoration: none;
  color: darkorange; }

.principal__body__content--media {
  transition: transform 0.25s, filter 0.25s; }
  .principal__body__content--media:hover {
    transform: scale(1.1, 1.1);
    filter: brightness(115%) contrast(115%); }

div p {
  display: inline; }

div input {
  display: inline; }

.actualMenu a {
  /*font-size: 150%;    volver a ponerlo*/
  color: #0e1631; }

img {
  max-width: 100%; }

.principal {
  display: grid;
  width: 90%;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  text-align: center;
  margin: 1rem auto;
  gap: 1.5rem; }
  .principal__body {
    display: grid;
    gap: 1rem; }

.secundario {
  display: grid;
  width: 80%;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  text-align: left;
  margin: 1rem auto;
  gap: 1.5rem; }

form {
  display: grid;
  width: 90%;
  justify-content: left;
  text-align: center;
  margin: 0.5rem auto; }
  form aside {
    display: inline; }

@media only screen and (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0 10%; }
  .principal__body {
    display: grid;
    gap: 1rem; }
    .principal__body__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: left;
      align-items: center;
      gap: 0 1rem; } }

@media only screen and (min-width: 1024px) {
  .principal__body__content--invertido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    align-items: center;
    gap: 0 1rem;
    grid-template-areas: "text img"; }
    .principal__body__content--invertido--media {
      grid-area: img; }
    .principal__body__content--invertido--text {
      grid-area: text; } }
